.page-body{
    margin: 100px;
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    row-gap: 50px;
    column-gap: 20px;
}

.body-div{
    display: flex;
    flex-direction: column;
}

.pages-div{
    align-self: center;
}

@media(max-width:640px){
    .page-body{
        grid-template-columns: 1fr;
        margin: 75px;
        margin-top: 100px;
    }
}