.movie-info *{
    margin: 0;
    padding-bottom:15px ;
}

.movie-info{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.close-btn{
    align-self: center;
}

