.movie-info {
  color: white;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  animation: slide-up 0.4s ease-in-out;
  /* position: relative; */
}

.movie-info h3,
p {
  padding-left: 10px;
}

.close-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.612);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 0.2s;
}

@keyframes slide-up {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(-10px);
    opacity: 1;
  }
}
