@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.movie-card-div {
  width: 185px;
  height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-top: 2px;
  /* background-color: #b14b4b; */
  background: rgb(54, 22, 46);
  background: linear-gradient(
    90deg,
    rgb(253, 253, 253) 37%,
    rgb(247, 226, 244) 100%
  );
  border: 10px solid #ff9a7b;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #36162e;
  font-family: Rubik;
  color: #36162e;
  transition: all 0.3s;
  position: relative;
}

.movie-card-div:hover {
  scale: 1.03;
}

#movie-image {
  height: 290px;
  width: 220px;
  border-radius: 10px;
}

/* .movie-card-div:hover::before{
  content: '';
  background-color: rgba(0, 0, 0, 0.692);
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  opacity: 1;
} */

#movie-title {
  font-weight: 500;
  text-align: center;
}

.movie-info{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
}


.movie-card-div:hover #movie-description{
  opacity: 1;
}

.info-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.612);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 0;
  transition: 0.2s;
}
.info-btn:hover{
  opacity: 1;
}