@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.movie-card-div{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 2px;
    background-color: #b14b4b;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #36162e;
    font-family: Rubik;
    color: #fff;
    transition: 0.3s;
}

.movie-card-div:hover{
    scale: 1.03;
}

#movie-image{
    height: 290px;
    width: 235px;
    border-radius: 10px;
}

#movie-title{
    font-weight:500;
}
