@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.movie-card-div {
  width: 185px;
  height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 2px;
  /* background-color: #b14b4b; */
  background: rgb(54, 22, 46);
  background: linear-gradient(
    90deg,
    rgb(253, 253, 253) 37%,
    rgb(247, 226, 244) 100%
  );
  border: 10px solid #ff9a7b;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #36162e;
  font-family: Rubik;
  color: #36162e;
  transition: 0.3s;
  position: relative;
}

.movie-card-div:hover {
  scale: 1.03;
}

#movie-image {
  height: 290px;
  width: 220px;
  border-radius: 10px;
}

#movie-image::before{
  content: '';
  background-color: black;
  width: 100%;
  height: 100%;
}

#movie-title {
  font-weight: 500;
}

#movie-description {
  position: absolute;
  top: 35%;
  left: 44%;
}
