@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body{
  margin: 0;
}

.navbar-div {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  padding-left: 100px;
  padding-right: 200px;
  box-shadow: inset 0px 0px 8px rgb(119, 119, 119);
  background-color: orange;
}

#navbar-logo {
  font-family: Pacifico;
  font-size: 25px;
}

#searchbar-div {
  display: flex;
}

#searchbar-div {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

#search-button {
  background: none;
  border: none;
}

#search-input {
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 8px;
  padding-left: 1px;
  margin-bottom: 8px;
  transition: 0.3s;
  background-color: orange;
}

#search-input::placeholder{
  color: black;
  font-size: 15px;
}

#search-input:focus{
  outline: none;
  box-shadow: 0 4px 2px -2px rgba(173, 173, 173, 0.671)
}