.page-div{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.page-div-element{
    background-color: #ff9a7b;
    color: #36162e;
    font-size: 1.2rem;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-family:Arial, Helvetica, sans-serif;
    border: 3px solid #ff6536;
    box-shadow: 0px 0px 5px #36162e;
    transition-duration: 0.2s;
}

.page-div-element:hover{
    transform: scale(1.04);
}

@media (max-width:640px) {
    .page-div{
      position: fixed;
      bottom: 0;
      left: 0;
      justify-content: center;
      margin: 0;
      /* left: 13%; */
      background-color: #36162e;
      width: 100%;
      gap: 20px;
    }
    
    .page-div-element{
        width: 30px;
        height: 30px;
        font-size: 1rem;
    }

  }